@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.container{
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}